.titlebar--controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.titlebar--control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 45px;
  transition: background 165ms;
  font-family: "Segoe MDL2 Assets", sans-serif !important;
  text-rendering: geometricPrecision;
  cursor: default;
  font-size: 9.5px;
}

  .titlebar--control:hover {
    background: rgba(0, 0, 0, .1);
  }

  .titlebar--control:active {
    background: rgba(0, 0, 0, .2);
  }

.titlebar--control-close:hover {
  background: rgb(232, 17, 35, 1);
}

.titlebar--control-close:active {
  background: rgb(241, 112, 122);
}

.titlebar--control-close:hover,
.titlebar--control-close:active {
  color: white;
}
