
.mat-toolbar {
  background-color: transparent;
  border-bottom-color: #DEDCD3 !important;
  padding: 0;
}

.mat-toolbar, .mat-toolbar * {
  font-family: unset !important;
}

.username {
  font-size: 0.75em;
}

.tagname {
  color: #999999;
  font-size: 0.65em;
}

.opacity-0 {
  opacity: 0 !important;
}

.actions-container {
  height: 100%;
  align-items: flex-start;
}

.menu-btn img {
  width: 36px;
  height: 36px;
}
