@font-face {
  font-family: 'GT Maru';
  src: url('GTMaru-Light.woff2') format('woff2'), url('GTMaru-Light.woff') format('woff'), url('GTMaru-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('GTMaru-Regular.woff2') format('woff2'), url('GTMaru-Regular.woff') format('woff'), url('GTMaru-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('GTMaru-Medium.woff2') format('woff2'), url('GTMaru-Medium.woff') format('woff'), url('GTMaru-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('GTMaru-Bold.woff2') format('woff2'), url('GTMaru-Bold.woff') format('woff'), url('GTMaru-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}







@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('NotoSansArabic-Light.woff2') format('woff2'), url('NotoSansArabic-Light.woff') format('woff'), url('NotoSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('NotoSansArabic-Regular.woff2') format('woff2'), url('NotoSansArabic-Regular.woff') format('woff'), url('NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('NotoSansArabic-Medium.woff2') format('woff2'), url('NotoSansArabic-Medium.woff') format('woff'), url('NotoSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('NotoSansArabic-Bold.woff2') format('woff2'), url('NotoSansArabic-Bold.woff') format('woff'), url('NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-Black.woff2') format('woff2'),
        url('NotoSansArabic-Black.woff') format('woff'),
        url('NotoSansArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}*/

/*@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-ExtraBold.woff2') format('woff2'),
        url('NotoSansArabic-ExtraBold.woff') format('woff'),
        url('NotoSansArabic-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}*/



/*@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-ExtraLight.woff2') format('woff2'),
        url('NotoSansArabic-ExtraLight.woff') format('woff'),
        url('NotoSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}*/





/*@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-Thin.woff2') format('woff2'),
        url('NotoSansArabic-Thin.woff') format('woff'),
        url('NotoSansArabic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}*/

/*@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('NotoSansArabic-SemiBold.woff2') format('woff2'),
        url('NotoSansArabic-SemiBold.woff') format('woff'),
        url('NotoSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}*/

